<div class="wrapper">
  <img src="assets/favicon.png"/>

  <ul class="navigation">
    <li><a routerLink="index" routerLinkActive="active">Home</a></li>
    <li><a routerLink="404" routerLinkActive="active">404</a></li>
    <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
  </ul>
</div>

