<div class="align-center">
  <h1><i class="far fa-5x fa-question-circle"></i></h1>
  <h1>404</h1>
  <h2>Requested page not found</h2>
  <br>
  <p>
    Try you luck again<br>
    Go <a routerLink="/" class="dark block">Back</a>
  </p>
</div>
