@import '~@angular/material/theming';

@include mat-core();

$taw-base: (
  50: #F0F7FD,      // -119
  100: #C6E1FA,     // -53C
  200: #B8D9F9,     // -963
  300: #8DC3F5,     // -D8A
  400: #7FBBF4,     // -10A8
  500: #71B4F3,     // -13C5
  600: #63adf2,     // -226CB
  700: #5B82C3,     // -43ED3
  800: #5A79B9,     // -656DB
  900: #5366A5,     // -A7FE9
  A100: #8DC3F5,    // +8D
  A200: #63adf2,    // 0
  A400: #5B82C3,    // -1500
  A700: #5366A5,    // -2900
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$taw-accent: (
  50: #ECEEF1,      // -119
  100: #C6CED7,     // -53C
  200: #B3BEC9,     // -963
  300: #A0AEBC,     // -D8A
  400: #6A8EAE,     // -10A8
  500: #556D87,     // -13C5#6A8EAE
  600: #304D6D,     // -226CB
  700: #2C4664,     // -43ED3
  800: #28405A,     // -656DB
  900: #233950,     // -A7FE9
  A100: #556D87,    // +8D
  A200: #304D6D,    // 0
  A400: #28405A,    // -1500
  A700: #1F3246,    // -2900
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$taw-warning: (
  50: #F5EEEE,      // -119
  100: #E2CCCC,     // -53C
  200: #D0AAAB,     // -963
  300: #B47779,     // -D8A
  400: #AA6668,     // -10A8
  500: #A15557,     // -13C5
  600: #984447,     // -226CB
  700: #7D383B,     // -43ED3
  800: #6F3234,     // -656DB
  900: #612C2E,     // -A7FE9
  A100: #A15557,    // +8D
  A200: #984447,    // 0
  A400: #7D383B,    // -1500
  A700: #612C2E,    // -2900
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$primary: mat-palette($taw-base, 600);
$accent: mat-palette($taw-accent, 600, 100, 800);
$warn: mat-palette($taw-warning, 600);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$c-black: #000;
$c-white: #fff;

$c-light: map-get($mat-light-theme-background, background);
$c-light-hover: lighten($c-light, 10%);
$c-light-darken: darken($c-light, 50%);
$c-light-darken-half: darken($c-light, 25%);
$c-light-lighten: lighten($c-light, 50%);;
$c-light-lighten-half: lighten($c-light, 25%);

$c-dark: map-get($mat-light-theme-foreground, base);
$c-dark-hover: darken($c-dark, 10%);
$c-dark-darken: darken($c-dark, 50%);
$c-dark-darken-half: darken($c-dark, 25%);
$c-dark-lighten: lighten($c-dark, 50%);
$c-dark-lighten-half: lighten($c-dark, 25%);

$c-orange: map-get($accent, default);
$c-orange-hover: darken($c-orange, 10%);
$c-orange-darken: darken($c-orange, 50%);
$c-orange-darken-half: darken($c-orange, 25%);
$c-orange-lighten: lighten($c-orange, 50%);
$c-orange-lighten-half: lighten($c-orange, 25%);

$c-success: map-get($mat-green, 500);
$c-success-hover: darken($c-success, 10%);
$c-success-darken: darken($c-success, 50%);
$c-success-darken-half: darken($c-success, 25%);
$c-success-lighten: lighten($c-success, 50%);
$c-success-lighten-half: lighten($c-success, 25%);

$c-warning: map-get($warn, lighter-contrast);
$c-warning-hover: darken($c-warning, 10%);
$c-warning-darken: darken($c-warning, 50%);
$c-warning-darken-half: darken($c-warning, 25%);
$c-warning-lighten: lighten($c-warning, 50%);
$c-warning-lighten-half: lighten($c-warning, 25%);

$c-error: map-get($warn, default);
$c-error-hover: darken($c-error, 10%);
$c-error-darken: darken($c-error, 50%);
$c-error-darken-half: darken($c-error, 25%);
$c-error-lighten: lighten($c-error, 50%);
$c-error-lighten-half: lighten($c-error, 25%);
