@import 'includables';
@import 'grid/grid';
@import 'button/button';
@import 'formats/formats';

@font-face {
    font-family: "Kaushan Script";
    src: url("https://fonts.gstatic.com/s/kaushanscript/v6/vm8vdRfvXFLG3OLnsO15WYS5DG74wNI.woff2");
}

@font-face {
    font-family: Montserrat;
    src: url("https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2");
}

*::-moz-focus-inner {
    border: 0;
}

::selection {
    background: $c-orange-hover;
}

::-moz-selection {
    background: $c-orange-hover;
}

*:active,
*:focus,
*:hover,
*.active {
    outline: none;
}

html,
body {
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $c-light-darken;
    background-color: $c-light;
    font-size: 14px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    color: $c-orange;
    letter-spacing: 1px;
    font-family: "Varela Round", sans-serif;
    text-align: center;

    &.arrow {
        content: ' ';
        font-size: 15px;
        text-transform: uppercase;
        color: $c-orange;
        letter-spacing: 1px;
        background: url(https://www.suevo-guestphalia.de/img/h1-bg.png) no-repeat center bottom;
        padding-bottom: 30px;
        font-weight: bold;
    }
}

p {
    color: $c-dark-lighten;
    margin-bottom: 5px;
    font-size: 14px;

    &.small {
        margin-bottom: 0;
        font-size: 12px;
    }

    &.big {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

a {
    color: $c-orange;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:hover {
        color: $c-orange-hover;
    }
}

input {
    height: 20px;
    -webkit-transform: none;
    outline: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px 10px;
    border: $c-dark 1px solid;
    background-color: $c-white;

    &.error {
        border: 1px solid $c-error !important;
        background-color: $c-error-darken !important;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        border: 1px solid $c-dark;
        -webkit-text-fill-color: $c-light-darken-half;
        -webkit-box-shadow: 0 0 0 1000px $c-white inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    &:focus {
        border-color: $c-dark-lighten-half;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            border: 1px solid $c-dark-lighten-half;
        }
    }

    &:hover {
        border-color: $c-dark-lighten;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            border: 1px solid $c-dark-lighten;
        }
    }

    &.inverted {
        border: $c-light-darken-half 1px solid;
        color: $c-light-darken-half;
        background-color: $c-light;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            border: 1px solid $c-light-darken-half;
            -webkit-text-fill-color: $c-light-darken-half;
            -webkit-box-shadow: 0 0 0 1000px $c-light inset;
            transition: background-color 5000s ease-in-out 0s;
        }

        &:focus {
            border: $c-light-darken 1px solid;
            color: $c-light-darken;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                border: 1px solid $c-light-darken;
                -webkit-text-fill-color: $c-light-darken;
            }
        }

        &:hover {
            border: $c-light-darken 1px solid;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                border: 1px solid $c-light-darken;
            }
        }
    }

    &.error {
        border: $c-error 1px solid !important;
    }
}

a {
    text-decoration: none;
    color: map-get($taw-accent, 800);

    &.light {
        color: map-get($taw-accent, 300);
    }

    &.block {
        display: inline-block;
        padding: .5rem;
    }

    &:hover,
    &.active {
        color: map-get($taw-base, 700);
        text-decoration: underline;

        &.block {
            text-decoration: none;
            border-bottom: 1px solid map-get($taw-base, 700);
        }
    }
}

ol, ul {
    &.list-style-none {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            text-align: left;
            list-style: none;
            padding: 0;
            margin: 0;

            ul, ol {
                margin-left: 10px;
            }
        }
    }
}

hr {
    border: none;
    height: 1px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $c-light;

    &.dark {
        background-color: $c-light-darken-half;
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    border: 0;
    background-color: $c-light-darken;

    &:hover {
        background-color: $c-light-darken-half;
    }
}

::-webkit-scrollbar-track {
    background: $c-light;
}

::-webkit-scrollbar-track:hover { }

::-webkit-scrollbar-track:active { }

::-webkit-scrollbar-corner {
    background-color: $c-light;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/// OVERRIDE

.mat-tab-link:focus,
.mat-tab-label:focus {
    background-color: transparent !important;
    color: lighten($c-dark, 35%);
    .close {
        color: lighten($c-dark, 35%);
    }
}
