<mat-card style="width: 80%; margin: auto">
  <mat-card-content>
    <h1>DOR</h1>
    <h2>Discard outdated responses</h2>
    <h3>Description</h3>
    <p>
      Trigger the responses with the corresponding buttons below.<br>
      Request 1 will require 6 seconds to finish.<br>
      Request 2 will require 3 seconds to finish.<br>
      Request 3 will require 1 seconds to finish.<br>
    </p>
    <p>Commands can block commands but not resources and vice versa</p>

    <h3>Controls</h3>
    <div class="buttons align-center">
      <a (click)="setStrategy(0)" class="btn dark" [ngClass]="{active: strategy === 0}">Usual</a>
      <a (click)="setStrategy(1)" class="btn dark" [ngClass]="{active: strategy === 1}">Serve First</a>
      <a (click)="setStrategy(2)" class="btn dark" [ngClass]="{active: strategy === 2}">Serve Last</a>
    </div>
    <div class="buttons align-center">
      <a (click)="loadTextOne()" class="btn dark">Resource 1</a>
      <a (click)="loadTextTwo()" class="btn dark">Resource 2</a>
      <a (click)="loadTextThree()" class="btn dark">Resource 3</a>
    </div>
    <div class="buttons align-center">
      <a (click)="sendCommandOne()" class="btn dark">Command 1</a>
      <a (click)="sendCommandTwo()" class="btn dark">Command 2</a>
      <a (click)="sendCommandThree()" class="btn dark">Command 3</a>
    </div>


    <h3>Output</h3>
    <p><span>Resource 1: </span><span>{{resourceOneStatus}}</span></p>
    <p><span>Resource 2: </span><span>{{resourceTwoStatus}}</span></p>
    <p><span>Resource 3: </span><span>{{resourceThreeStatus}}</span></p>

    <p><span>Command 1: </span><span>{{commandOneStatus}}</span></p>
    <p><span>Command 2: </span><span>{{commandTwoStatus}}</span></p>
    <p><span>Command 3: </span><span>{{commandThreeStatus}}</span></p>

    <div class="output">
      <pre>{{output}}</pre>
    </div>
  </mat-card-content>
</mat-card>
