// Class: Min to ...
.min-small {
    display: none;

    @include min-small {
        display: inline-block;
    }
}

.min-medium {
    display: none;

    @include min-medium {
        display: inline-block;
    }
}

.min-large {
    display: none;

    @include min-large {
        display: inline-block;
    }
}

// Class: Small to ...
.small-medium {
    display: none;

    @include small-medium {
        display: inline-block;
    }
}

.small-large {
    display: none;

    @include small-large {
        display: inline-block;
    }
}

.small-max {
    display: none;

    @include small-max {
        display: inline-block;
    }
}

// Class: Medium to ...
.medium-large {
    display: none;

    @include medium-large {
        display: inline-block;
    }
}

.medium-max {
    display: none;

    @include medium-max {
        display: inline-block;
    }
}

// Class: Medium to ...
.large-max {
    display: none;

    @include large-max {
        display: inline-block;
    }
}
